<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A <%= @name %> event has occurred.</h1>
<p>
  The event began at <b><%= @start %></b> and finished at <b><%= @finish %></b>.
</p>
<p>
  Thank you,<br>
  Project Jellyfish
</p>
<b>REFERENCE ID: <%= @id %></b>
</body>
</html>